*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(chairs.jpg);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.card {
  opacity: 0.9;
}

.btn {
  margin: 2%;
  float: right;
}
